    <h1><img src = {{flags.svg}} alt='flag of country' width=60px;>{{name.official}}</h1>
          <p><b>Capital</b>: {{capital}}</p>
          <p><b>Population</b>: {{population}}</p>
        {{#each languages}}
          <p><b>lenguage</b>: {{this}}</p>
        {{/each}}
        </li>
        